<div class="d-flex align-items-center">
  <div class="ml-auto boards__linkBox">
    <%= link_to "質問一覧", questions_path, class: "btn btn-outline-dark" %>
  </div>
</div>
<%= render partial: 'form', locals: { question: @question} %>
