// Place all the styles related to the admin/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.admin_users_name{
  font-size: 20px;
  float:left;
  width: 250px;
}

.admin_users_message{
  font-size: 20px;
  float:left;
}
.admin_users_delete{
  font-size: 20px;
  float:left;
}

.admin_users_admin{
  font-size: 20px;
  float:left;
}
