<div class="d-flex align-items-center">
  <div class="ml-auto boards__linkBox">
    <%= link_to '一覧', boards_path, class: 'btn btn-outline-dark' %>
    <%= link_to '詳細', board_path(@board), class: 'btn btn-outline-dark' %>
  </div>
</div>
<%= render partial: 'form', locals: { board: @board} %>
