.boards__table{
  tr:hover{
    cursor: pointer;
  }
}

.boards__linkBox{
  float:right;
  margin-top: 20px;
}

.boards__searchForm {
  display: inline-block;
  margin-top: 10px;
  margin-bottom:  10px;
}

.boards__select {
  display: inline-block;
  width: auto;
}

.board_user{
  float:left;
  text-align: center;
}

.board_name{
  text-align: center;
  font-size: 14px;
}


.board_title{
  float:left;
  margin-left: 70px;
  font-size: 20px;
  padding-top: 10px
}

.board_update{
  font-size: 12px;
  color:#808080;
}

.board_tag{
  float:right;
  font-size: 16px;
}

.board_button{
  float:right;
  font-size: 18px;
}

.board_body{
  min-height: 100px
}

.board_favorite{
  float:left;
  width: 250px;
}

.board_comment{
  float:left;
}
