// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home_header{
  height: 55px;
}


.home_introduction{
  background-color:#555555;
  height: 5px;
}

.home_concept{
  height: 500px;
}
