// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home_all{
  position: relative;
}

.home_header{
  height: 55px;
}

.home_concept{
  height: 100%;
  font-family: serif;
}

.main_name{
background-color: black;
font-size: 40px;
text-align: center;
color: #C0C0C0;
font-family: "Ravi Prakash", cursive;
}

.main_introduce{
  font-size: 30px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

.main_concept{
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
}
.first_concept{
  margin-top: 10px;
}
.second_concept{
  margin-top: 50px;
}
.third_concept{
  margin-top: 30px;
}
.forth_concept{
  margin-top: 70px;
}
.top_image{
  border-radius: 100px;
}

.start_part{
  margin-top: 70px;
  font-size: 40px;
}

.start_button{
  text-align: center;
}

.test_button{
  text-align: center;
  margin-top: 30px;
  padding-bottom: 30px;
}

.how_to_use{
  font-family: "Ravi Prakash", cursive;
  text-align: center;
  background-color: white;
  font-family: serif;

}

.how_to_use_apprication{
  font-size: 40px;
    margin-bottom: 40px;
    margin-top: 40px;
    border-top: 2px solid gray;
    padding-top: 40px;
    font-family: "Ravi Prakash", cursive;
}

.note-concept{
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
}

.note-introduction{
  font-size: 15px;
  text-align: center;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 30px;
}

.comment_concept{
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
}

.comment_introduction{
  font-size: 15px;
  text-align: center;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 30px;
}

.make_comment{
  margin-top:50px;
}

.sample_image{
  border: 3px solid forestgreen;
  border-radius: 15px;
  margin-right: 60px;
  margin-left: 60px;
}

.other_function{
  font-size: 30px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.function_explain{
  padding-bottom: 50px;
}

.conversation_funtion{
  font-size: 20px;
}

.favorite_function{
  font-size: 20px;
}

.search_function{
  font-size: 20px;
}

.question_function{
  font-size: 20px;
}

.function_image{
  margin-top: 10px;
}

.other_function_introduction{
  font-size: 15px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 20px;
}

.test_button2{
  text-align: center;
  margin-top: 30px;
  padding-bottom: 80px;
}
