// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home_header{
  height: 55px;
}

.home_introduction{
  background-color:black;
  height: 5px;
}

.home_concept{
  height: 2000px;
  font-family: serif;
}

.main_concept{
background-color: black;
font-size: 60px;
text-align: center;
color: #C0C0C0;
}

.main_introduce{
  font-size: 30px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

.first_concept{
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px;
}

.second_consept{
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px;
}

.third_consept{
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px;
}

.forth_concept{
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
}

.start_part{
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
}

.start_button{
  text-align: center;
  margin-bottom: 60px;
}
