// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-group__age{
  width:80px;
}

.user_show_profile{
  text-align: center;
}

.edit_profile_link{
  text-align: right;
}
