// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile_error{
  margin-top: 20px;
}

.form-group__age{
  width:80px;
}

.user_show_profile{
  text-align: center;
}

.edit_profile_link{
  float:right;
  margin-top:45px;
  margin-right: 30px;
}

.admin_user_link{
  margin-top: 20px;
}

.profile_image{
  padding-left: 30px;
  padding-top: 40px;
  padding-bottom: 10px;
}

.profile_name{
  padding-left: 100px;
  font-size: 20px;
}

.user_boards{
  text-align: center;
}

.login_page_word{
  margin-top: 40px;
}

.signin_page_word{
  margin-top: 40px;
}

.login_back_button{
  float: right;
}

.signin_back_button{
  float: right;
}

.users_image{
  float: left;
  width: 100px;
  text-align: center;
}

.users_name{
  margin-top: 6px;
  font-size: 25px;
  float: left;
  margin-left: 50px;
}

.users_message{
  font-size: 25px;
  float: right;
  margin-top: 9px;
}
